// Body
$body-bg: #f8fafc;
$text-color: #2E2E2E;
$hover-color: #0b4edf;
$hover-color2: #340894;
$reffer-color: #78599C;



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


a{
    color: $text-color;
}


