// Body
$body-bg: #f8fafc;
$text-color: #2E2E2E;
$hover-color: #0b4edf;
$hover-color2: #340894;
$reffer-color: #78599C;
$error-color: #f50303;
$btn-color: #78599C;
$btn-color-hover: #6F39AE;



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$maxLimitTextarea: calc($font-size-base * $line-height-base * 7);
$minLimitTextarea: calc($font-size-base*$line-height-base);


a{
    color: $text-color;
}
