// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// components

@import 'main';
@import 'main_media';
@import 'footer';
@import 'footer_media';
@import 'header_media';
@import 'notification';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


