
@media screen and (max-width: 1024px){
    main{

        .top__section{

            padding: 5rem 0;
        }

    }
}

@media screen and (min-width: 1024px){
    a{
        font-size: 1rem !important;

        &:hover{
            color: $hover-color !important;
            font-weight: 900;
        }
    }

}



@media screen and (max-width: 768px){

    main{

        .top__section{

            padding: 3rem 0;

            flex-direction: column;
            justify-content: center;
            align-items: center;

            .list__companies{
                width: 80%;

                .list__couriers{
                    justify-content: space-between;
                }


            }

            .top__picture{
                width: 80%;
            }
        }

    }
}

@media screen and (max-width: 425px){

    main{

        .top__section{

            padding: 3rem 0;


            .list__companies{
                width: 90%;
            }

            .top__picture{
                width: 90%;
            }
        }

    }
}
